<h1>Fill in the information of a new photo</h1>
<form action="/new_photo" method="post">
  <label for="location-taken">Enter the place where the photo was taken</label>
  <input type="text" name="location-taken">
  <label for="caption">Enter Caption of Photo:</label>
  <input type="text" name="caption">
  <button type="submit">Submit</button>
</form>
<a href="/all_photo">View all photos</a>
<a href="/cleared">Clear All</a>
